<!DOCTYPE html>
<html lang = en>
    <head>
        <title>Books</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> -->
<style>
    button {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display:block;
        margin-top: 22%;
        margin-bottom: 0%;
        background-color: blueviolet;
        width:90px;
        height:40px;
        
    }
    h2{
        text-align:center;
        color:black;
    }
    
    button:hover{
        background-color: rgb(238, 24, 59);
    }
    
    body{
        background-color:rgb(197, 195, 195);
    }
</style>
    </head>
    <body>
        <h2>{{text}}</h2>

        <form action = "/logout">
        <button>Logout</button>
    </form>
    </body>

</html>